In [19]:
import pyodbc
import pandas as pd

In [22]:
#conn = pymssql.connect(server=r'localhost', user='sa', password='123456', database='EmployeeDB')
conn = pyodbc.connect(r'Driver={SQL Server};Server=LAPTOP-LC4B480R\SQLEXPRESS;Database=EmployeeDB;Trusted_Connection=yes;')

In [28]:
query = "SELECT * FROM Employees"
df = pd.read_sql(query, conn)
print(df.head(10))

   ID FirstName  LastName  Gender  Salary
0   1      Mark  Hastings    Male   60000
1   2     Steve     Pound    Male   45000
2   3       Ben   Hoskins    Male   70000
3   4    Philip  Hastings    Male   45000
4   5      Mary   Lambeth  Female   30000
5   6   Valarie   Vikings  Female   35000
6   7      John  Stanmore    Male   80000