# Chapter 10. Data Aggregation and Group Operations

- McKinney, Wes. Python for Data Analysis (pp. 432-433). O'Reilly Media. Kindle Edition.

In [1]:
import pandas as pd
import numpy as np

In [6]:
df = pd.DataFrame({'key1' : ['a', 'a', 'b', 'b', 'a'], 'key2' : ['one', 'two', 'one', 'two', 'one'], 
                   'data1' : np.random.randn( 5),'data2' : np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one -0.457212 -0.564409
1    a  two -0.435539  0.557058
2    b  one  2.039606 -0.955558
3    b  two -0.308149 -0.217546
4    a  one  0.885006  0.400154

In [7]:
grouped=df['data1'].groupby(df['key1'])
grouped

In [9]:
grouped.groups

{'a': Int64Index([0, 1, 4], dtype='int64'),
 'b': Int64Index([2, 3], dtype='int64')}

In [15]:
for key,grp in grouped:
    print(key,' --> \n',grp)

a  -->
 0   -0.457212
1   -0.435539
4    0.885006
Name: data1, dtype: float64
b  -->
 2    2.039606
3   -0.308149
Name: data1, dtype: float64

In [11]:
grouped.mean()

key1
a   -0.002582
b    0.865728
Name: data1, dtype: float64

In [12]:
grouped.median()

key1
a   -0.435539
b    0.865728
Name: data1, dtype: float64

In [6]:
def print_grps(grp_obj):
    for key,grp in grp_obj:
        print(key,'-->\n')
        print(grp)

In [16]:
means_k1k2=df['data1'].groupby([df['key1'],df['key2']]).mean()

In [17]:
means_k1k2

key1  key2
a     one     0.213897
      two    -0.435539
b     one     2.039606
      two    -0.308149
Name: data1, dtype: float64

In [21]:
print_grps(df['data1'].groupby([df['key1'],df['key2']]))

('a', 'one') -->

0   -0.457212
4    0.885006
Name: data1, dtype: float64
('a', 'two') -->

1   -0.435539
Name: data1, dtype: float64
('b', 'one') -->

2    2.039606
Name: data1, dtype: float64
('b', 'two') -->

3   -0.308149
Name: data1, dtype: float64

In [22]:
means_k1k2.unstack()

key2       one       two
key1
a     0.213897 -0.435539
b     2.039606 -0.308149

In [23]:
states = np.array(['Ohio', 'California', 'California', 'Ohio', 'Ohio'])
states

array(['Ohio', 'California', 'California', 'Ohio', 'Ohio'], dtype='<U10')

In [24]:
years = np.array([2005,2005,2006,2005,2006])
years

array([2005, 2005, 2006, 2005, 2006])

In [25]:
df

  key1 key2     data1     data2
0    a  one -0.457212 -0.564409
1    a  two -0.435539  0.557058
2    b  one  2.039606 -0.955558
3    b  two -0.308149 -0.217546
4    a  one  0.885006  0.400154

In [26]:
df['data1'].groupby([states,years]).mean()

California  2005   -0.435539
            2006    2.039606
Ohio        2005   -0.382681
            2006    0.885006
Name: data1, dtype: float64

In [27]:
df.groupby(['key1','key2']).size()

key1  key2
a     one     2
      two     1
b     one     1
      two     1
dtype: int64

In [28]:
print_grps(df.groupby(['key1','key2']))

('a', 'one') -->

  key1 key2     data1     data2
0    a  one -0.457212 -0.564409
4    a  one  0.885006  0.400154
('a', 'two') -->

  key1 key2     data1     data2
1    a  two -0.435539  0.557058
('b', 'one') -->

  key1 key2     data1     data2
2    b  one  2.039606 -0.955558
('b', 'two') -->

  key1 key2     data1     data2
3    b  two -0.308149 -0.217546

In [29]:
pieces_grp=dict(list(df.groupby('key1')))
pieces_grp

{'a':   key1 key2     data1     data2
 0    a  one -0.457212 -0.564409
 1    a  two -0.435539  0.557058
 4    a  one  0.885006  0.400154,
 'b':   key1 key2     data1     data2
 2    b  one  2.039606 -0.955558
 3    b  two -0.308149 -0.217546}

In [30]:
grouped_dtypes=df.groupby(df.dtypes,axis=1)
print_grps(grouped_dtypes)

float64 -->

      data1     data2
0 -0.457212 -0.564409
1 -0.435539  0.557058
2  2.039606 -0.955558
3 -0.308149 -0.217546
4  0.885006  0.400154
object -->

  key1 key2
0    a  one
1    a  two
2    b  one
3    b  two
4    a  one

# Selecting a Column or Subset of Columns

In [35]:
print_grps(df.groupby('key1')['data1'] )
print('--------------------------------')
print_grps(df['data1'].groupby(df['key1']))
print('--------------------------------')
print_grps(df.groupby('key1')[['data2']])
print('--------------------------------')
print_grps(df[['data2']].groupby(df['key1']))

a -->

0   -0.457212
1   -0.435539
4    0.885006
Name: data1, dtype: float64
b -->

2    2.039606
3   -0.308149
Name: data1, dtype: float64
--------------------------------
a -->

0   -0.457212
1   -0.435539
4    0.885006
Name: data1, dtype: float64
b -->

2    2.039606
3   -0.308149
Name: data1, dtype: float64
--------------------------------
a -->

  key1 key2     data1     data2
0    a  one -0.457212 -0.564409
1    a  two -0.435539  0.557058
4    a  one  0.885006  0.400154
b -->

  key1 key2     data1     data2
2    b  one  2.039606 -0.955558
3    b  two -0.308149 -0.217546
--------------------------------
a -->

      data2
0 -0.564409
1  0.557058
4  0.400154
b -->

      data2
2 -0.955558
3 -0.217546

In [37]:
# only computed for data2 column
df.groupby(['key1', 'key2'])[['data2']].mean()

              data2
key1 key2
a    one  -0.082127
     two   0.557058
b    one  -0.955558
     two  -0.217546

In [39]:
s_grouped = df.groupby(['key1', 'key2'])[['data2']]
s_grouped.mean()

              data2
key1 key2
a    one  -0.082127
     two   0.557058
b    one  -0.955558
     two  -0.217546

In [40]:
s_grouped = df.groupby(['key1', 'key2'])['data2']
s_grouped.mean()

key1  key2
a     one    -0.082127
      two     0.557058
b     one    -0.955558
      two    -0.217546
Name: data2, dtype: float64

In [41]:
people=pd.DataFrame(np.random.randn(5,5),columns=['a','b','c','d','e'],index=['Joe','Steve','Wes','Jim','Travis'])
people

               a         b         c         d         e
Joe     1.197960 -1.055760 -1.863165  0.286250 -0.370326
Steve   2.403348  0.922763 -0.260380 -0.368010 -0.405237
Wes    -1.087958  0.325618  0.321112  0.674390 -0.366948
Jim    -1.040729  1.730760  0.561961 -0.222884  0.976510
Travis -0.654292 -1.328398  0.439667  0.566753  0.915404

In [42]:
people.iloc[2:3,[1,2]]=np.nan
people

               a         b         c         d         e
Joe     1.197960 -1.055760 -1.863165  0.286250 -0.370326
Steve   2.403348  0.922763 -0.260380 -0.368010 -0.405237
Wes    -1.087958       NaN       NaN  0.674390 -0.366948
Jim    -1.040729  1.730760  0.561961 -0.222884  0.976510
Travis -0.654292 -1.328398  0.439667  0.566753  0.915404

In [43]:
mapping = {'a': 'red', 'b': 'red', 'c': 'blue','d': 'blue', 'e': 'red', 'f' : 'orange'}

mapping

{'a': 'red', 'b': 'red', 'c': 'blue', 'd': 'blue', 'e': 'red', 'f': 'orange'}

In [44]:
by_column=people.groupby(mapping,axis=1)
print_grps(by_column)
by_column.sum()

blue -->

               c         d
Joe    -1.863165  0.286250
Steve  -0.260380 -0.368010
Wes          NaN  0.674390
Jim     0.561961 -0.222884
Travis  0.439667  0.566753
red -->

               a         b         e
Joe     1.197960 -1.055760 -0.370326
Steve   2.403348  0.922763 -0.405237
Wes    -1.087958       NaN -0.366948
Jim    -1.040729  1.730760  0.976510
Travis -0.654292 -1.328398  0.915404

            blue       red
Joe    -1.576916 -0.228126
Steve  -0.628390  2.920873
Wes     0.674390 -1.454906
Jim     0.339077  1.666541
Travis  1.006420 -1.067286

In [45]:
map_series=pd.Series(mapping)
map_series

a       red
b       red
c      blue
d      blue
e       red
f    orange
dtype: object

In [46]:
people.groupby(map_series,axis=1).count()

        blue  red
Joe        2    3
Steve      2    3
Wes        1    2
Jim        2    3
Travis     2    3

# Grouping with Functions

In [47]:
people.groupby(len).sum() # index len

          a         b         c         d         e
3 -0.930727  0.675000 -1.301205  0.737756  0.239236
5  2.403348  0.922763 -0.260380 -0.368010 -0.405237
6 -0.654292 -1.328398  0.439667  0.566753  0.915404

In [48]:
print_grps(people.groupby(len))

3 -->

            a        b         c         d         e
Joe  1.197960 -1.05576 -1.863165  0.286250 -0.370326
Wes -1.087958      NaN       NaN  0.674390 -0.366948
Jim -1.040729  1.73076  0.561961 -0.222884  0.976510
5 -->

              a         b        c        d         e
Steve  2.403348  0.922763 -0.26038 -0.36801 -0.405237
6 -->

               a         b         c         d         e
Travis -0.654292 -1.328398  0.439667  0.566753  0.915404

In [49]:
key_list = ['one', 'one', 'one', 'two', 'two']

print_grps(people.groupby([len,key_list]))

(3, 'one') -->

            a        b         c        d         e
Joe  1.197960 -1.05576 -1.863165  0.28625 -0.370326
Wes -1.087958      NaN       NaN  0.67439 -0.366948
(3, 'two') -->

            a        b         c         d        e
Jim -1.040729  1.73076  0.561961 -0.222884  0.97651
(5, 'one') -->

              a         b        c        d         e
Steve  2.403348  0.922763 -0.26038 -0.36801 -0.405237
(6, 'two') -->

               a         b         c         d         e
Travis -0.654292 -1.328398  0.439667  0.566753  0.915404

In [50]:
people.groupby([len,key_list]).min()

              a         b         c         d         e
3 one -1.087958 -1.055760 -1.863165  0.286250 -0.370326
  two -1.040729  1.730760  0.561961 -0.222884  0.976510
5 one  2.403348  0.922763 -0.260380 -0.368010 -0.405237
6 two -0.654292 -1.328398  0.439667  0.566753  0.915404

# Grouping by Index Levels

In [55]:
columns = pd.MultiIndex.from_arrays([['US', 'US', 'US', 'JP', 'JP'],[1, 3, 5, 1, 3]],names =['cty', 'tenor'])
heir_df=pd.DataFrame(np.random.randn(4,5),columns=columns)
heir_df

cty          US                            JP
tenor         1         3         5         1         3
0     -1.050839 -1.016449 -0.049213  0.345306  0.408172
1      0.588661 -0.241654  0.435520  1.808436 -1.150194
2      0.683326 -0.092869 -0.553639 -0.959629 -0.310168
3      0.924135 -1.157304 -0.883773 -0.379391 -0.412931

In [56]:
 print_grps(heir_df.groupby(level='cty',axis=1))

JP -->

cty          JP
tenor         1         3
0      0.345306  0.408172
1      1.808436 -1.150194
2     -0.959629 -0.310168
3     -0.379391 -0.412931
US -->

cty          US
tenor         1         3         5
0     -1.050839 -1.016449 -0.049213
1      0.588661 -0.241654  0.435520
2      0.683326 -0.092869 -0.553639
3      0.924135 -1.157304 -0.883773

In [57]:
heir_df.groupby(level='cty',axis=1).count()

cty  JP  US
0     2   3
1     2   3
2     2   3
3     2   3

# Data Aggregation

In [58]:
df

  key1 key2     data1     data2
0    a  one -0.457212 -0.564409
1    a  two -0.435539  0.557058
2    b  one  2.039606 -0.955558
3    b  two -0.308149 -0.217546
4    a  one  0.885006  0.400154

In [60]:
grouped=df.groupby('key1')
print_grps(grouped)
grouped['data1'].quantile(0.9)

a -->

  key1 key2     data1     data2
0    a  one -0.457212 -0.564409
1    a  two -0.435539  0.557058
4    a  one  0.885006  0.400154
b -->

  key1 key2     data1     data2
2    b  one  2.039606 -0.955558
3    b  two -0.308149 -0.217546

key1
a    0.620897
b    1.804830
Name: data1, dtype: float64

In [14]:
def peak_to_peak(arr): # arr is list with elements from group
    return arr.max()-arr.min()

grouped.agg(peak_to_peak)

             total_bill   tip  size   tip_pct
day  smoker
Fri  No           10.29  2.00     1  0.067349
     Yes          34.42  3.73     3  0.159925
Sat  No           41.08  8.00     3  0.235193
     Yes          47.74  9.00     4  0.290095
Sun  No           39.40  4.99     4  0.193226
     Yes          38.10  5.00     3  0.644685
Thur No           33.68  5.45     5  0.193350
     Yes          32.77  3.00     2  0.151240

In [62]:
grouped.describe()

     data1                                                              \
     count      mean       std       min       25%       50%       75%
key1
a      3.0 -0.002582  0.768750 -0.457212 -0.446376 -0.435539  0.224734
b      2.0  0.865728  1.660113 -0.308149  0.278789  0.865728  1.452667

               data2                                                    \
           max count      mean       std       min       25%       50%
key1
a     0.885006   3.0  0.130934  0.607274 -0.564409 -0.082127  0.400154
b     2.039606   2.0 -0.586552  0.521853 -0.955558 -0.771055 -0.586552


           75%       max
key1
a     0.478606  0.557058
b    -0.402049 -0.217546

# Column-Wise and Multiple Function Application

In [2]:
tips=pd.read_csv("data_sets/tips.csv")
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [12]:
tips['tip_pct']=tips['tip']/tips['total_bill']

In [4]:
tips.head()

   total_bill   tip     sex smoker  day    time  size   tip_pct
0       16.99  1.01  Female     No  Sun  Dinner     2  0.059447
1       10.34  1.66    Male     No  Sun  Dinner     3  0.160542
2       21.01  3.50    Male     No  Sun  Dinner     3  0.166587
3       23.68  3.31    Male     No  Sun  Dinner     2  0.139780
4       24.59  3.61  Female     No  Sun  Dinner     4  0.146808

In [12]:
grouped=tips.groupby(['day','smoker'])
# print_grps(grouped)

In [8]:
grouped_pct=grouped['tip_pct']

In [11]:
# print_grps(grouped_pct)

In [13]:
grouped_pct.agg('mean')

day   smoker
Fri   No        0.151650
      Yes       0.174783
Sat   No        0.158048
      Yes       0.147906
Sun   No        0.160113
      Yes       0.187250
Thur  No        0.160298
      Yes       0.163863
Name: tip_pct, dtype: float64

In [15]:
grouped_pct.agg(['mean','std',peak_to_peak])

                 mean       std  peak_to_peak
day  smoker
Fri  No      0.151650  0.028123      0.067349
     Yes     0.174783  0.051293      0.159925
Sat  No      0.158048  0.039767      0.235193
     Yes     0.147906  0.061375      0.290095
Sun  No      0.160113  0.042347      0.193226
     Yes     0.187250  0.154134      0.644685
Thur No      0.160298  0.038774      0.193350
     Yes     0.163863  0.039389      0.151240

In [16]:
# Renaming column names of agg functions
grouped_pct.agg([('foo','mean'),('bar',np.std)])

                  foo       bar
day  smoker
Fri  No      0.151650  0.028123
     Yes     0.174783  0.051293
Sat  No      0.158048  0.039767
     Yes     0.147906  0.061375
Sun  No      0.160113  0.042347
     Yes     0.187250  0.154134
Thur No      0.160298  0.038774
     Yes     0.163863  0.039389

In [17]:
functions=['count','mean','max']
result=grouped[['tip_pct','total_bill']].agg(functions)

In [18]:
result

            tip_pct                     total_bill
              count      mean       max      count       mean    max
day  smoker
Fri  No           4  0.151650  0.187735          4  18.420000  22.75
     Yes         15  0.174783  0.263480         15  16.813333  40.17
Sat  No          45  0.158048  0.291990         45  19.661778  48.33
     Yes         42  0.147906  0.325733         42  21.276667  50.81
Sun  No          57  0.160113  0.252672         57  20.506667  48.17
     Yes         19  0.187250  0.710345         19  24.120000  45.35
Thur No          45  0.160298  0.266312         45  17.113111  41.19
     Yes         17  0.163863  0.241255         17  19.190588  43.11

In [19]:
ftuples = [('Durchschnitt', 'mean'), ('Abweichung', np.var)] # function name tuples

grouped[['tip_pct', 'total_bill']].agg(ftuples)

                 tip_pct              total_bill
            Durchschnitt Abweichung Durchschnitt  Abweichung
day  smoker
Fri  No         0.151650   0.000791    18.420000   25.596333
     Yes        0.174783   0.002631    16.813333   82.562438
Sat  No         0.158048   0.001581    19.661778   79.908965
     Yes        0.147906   0.003767    21.276667  101.387535
Sun  No         0.160113   0.001793    20.506667   66.099980
     Yes        0.187250   0.023757    24.120000  109.046044
Thur No         0.160298   0.001503    17.113111   59.625081
     Yes        0.163863   0.001551    19.190588   69.808518

- apply potentially different functions to one or more of the columns. To do this, pass a dict to agg that contains a mapping of column names to any of the function specifications

In [20]:
# print_grps(grouped)

In [21]:
grouped.agg({'tip':np.max, 'size':'sum'})

               tip  size
day  smoker
Fri  No       3.50     9
     Yes      4.73    31
Sat  No       9.00   115
     Yes     10.00   104
Sun  No       6.00   167
     Yes      6.50    49
Thur No       6.70   112
     Yes      5.00    40

In [22]:
grouped.agg({'tip_pct' : ['min', 'max', 'mean', 'std'], 'size' : 'sum'})

              tip_pct                               size
                  min       max      mean       std  sum
day  smoker
Fri  No      0.120385  0.187735  0.151650  0.028123    9
     Yes     0.103555  0.263480  0.174783  0.051293   31
Sat  No      0.056797  0.291990  0.158048  0.039767  115
     Yes     0.035638  0.325733  0.147906  0.061375  104
Sun  No      0.059447  0.252672  0.160113  0.042347  167
     Yes     0.065660  0.710345  0.187250  0.154134   49
Thur No      0.072961  0.266312  0.160298  0.038774  112
     Yes     0.090014  0.241255  0.163863  0.039389   40

# Returning Aggregated Data Without Row Indexes

In [23]:
tips.groupby(['day','smoker'],as_index=False).mean()

    day smoker  total_bill       tip      size   tip_pct
0   Fri     No   18.420000  2.812500  2.250000  0.151650
1   Fri    Yes   16.813333  2.714000  2.066667  0.174783
2   Sat     No   19.661778  3.102889  2.555556  0.158048
3   Sat    Yes   21.276667  2.875476  2.476190  0.147906
4   Sun     No   20.506667  3.167895  2.929825  0.160113
5   Sun    Yes   24.120000  3.516842  2.578947  0.187250
6  Thur     No   17.113111  2.673778  2.488889  0.160298
7  Thur    Yes   19.190588  3.030000  2.352941  0.163863

In [24]:
tips.groupby(['day','smoker']).mean()

             total_bill       tip      size   tip_pct
day  smoker
Fri  No       18.420000  2.812500  2.250000  0.151650
     Yes      16.813333  2.714000  2.066667  0.174783
Sat  No       19.661778  3.102889  2.555556  0.158048
     Yes      21.276667  2.875476  2.476190  0.147906
Sun  No       20.506667  3.167895  2.929825  0.160113
     Yes      24.120000  3.516842  2.578947  0.187250
Thur No       17.113111  2.673778  2.488889  0.160298
     Yes      19.190588  3.030000  2.352941  0.163863

# 10.3 Apply: General split-apply-combine

In [25]:

def top_n(df,n=5,column='tip_pct'):
    return df.sort_values(by=column)[-n:]

In [26]:
# print(df.sort_values.__doc__)

In [27]:
# last 6 tip_pct values, sorted values
top_n(tips,6)

     total_bill   tip     sex smoker  day    time  size   tip_pct
109       14.31  4.00  Female    Yes  Sat  Dinner     2  0.279525
183       23.17  6.50    Male    Yes  Sun  Dinner     4  0.280535
232       11.61  3.39    Male     No  Sat  Dinner     2  0.291990
67         3.07  1.00  Female    Yes  Sat  Dinner     1  0.325733
178        9.60  4.00  Female    Yes  Sun  Dinner     2  0.416667
172        7.25  5.15    Male    Yes  Sun  Dinner     2  0.710345

In [28]:
tips.groupby('smoker').apply(top_n)

            total_bill   tip     sex smoker   day    time  size   tip_pct
smoker
No     88        24.71  5.85    Male     No  Thur   Lunch     2  0.236746
       185       20.69  5.00    Male     No   Sun  Dinner     5  0.241663
       51        10.29  2.60  Female     No   Sun  Dinner     2  0.252672
       149        7.51  2.00    Male     No  Thur   Lunch     2  0.266312
       232       11.61  3.39    Male     No   Sat  Dinner     2  0.291990
Yes    109       14.31  4.00  Female    Yes   Sat  Dinner     2  0.279525
       183       23.17  6.50    Male    Yes   Sun  Dinner     4  0.280535
       67         3.07  1.00  Female    Yes   Sat  Dinner     1  0.325733
       178        9.60  4.00  Female    Yes   Sun  Dinner     2  0.416667
       172        7.25  5.15    Male    Yes   Sun  Dinner     2  0.710345

In [30]:
tips.groupby(['smoker', 'day']). apply( top_n, n = 2, column ='total_bill')

                 total_bill    tip     sex smoker   day    time  size  \
smoker day
No     Fri  91        22.49   3.50    Male     No   Fri  Dinner     2
            94        22.75   3.25  Female     No   Fri  Dinner     2
       Sat  59        48.27   6.73    Male     No   Sat  Dinner     4
            212       48.33   9.00    Male     No   Sat  Dinner     4
       Sun  112       38.07   4.00    Male     No   Sun  Dinner     3
            156       48.17   5.00    Male     No   Sun  Dinner     6
       Thur 85        34.83   5.17  Female     No  Thur   Lunch     4
            142       41.19   5.00    Male     No  Thur   Lunch     5
Yes    Fri  90        28.97   3.00    Male    Yes   Fri  Dinner     2
            95        40.17   4.73    Male    Yes   Fri  Dinner     4
       Sat  102       44.30   2.50  Female    Yes   Sat  Dinner     3
            170       50.81  10.00    Male    Yes   Sat  Dinner     3
       Sun  184       40.55   3.00    Male    Yes   Sun  Dinner     2
            182       45.35   3.50    Male    Yes   Sun  Dinner     3
       Thur 83        32.68   5.00    Male    Yes  Thur   Lunch     2
            197       43.11   5.00  Female    Yes  Thur   Lunch     4

                  tip_pct
smoker day
No     Fri  91   0.155625
            94   0.142857
       Sat  59   0.139424
            212  0.186220
       Sun  112  0.105070
            156  0.103799
       Thur 85   0.148435
            142  0.121389
Yes    Fri  90   0.103555
            95   0.117750
       Sat  102  0.056433
            170  0.196812
       Sun  184  0.073983
            182  0.077178
       Thur 83   0.152999
            197  0.115982

In [31]:
result=tips.groupby('smoker')['tip_pct'].describe()
result

,count,mean,std,min,25%,50%,75%,max
smoker,,,,,,,,
No,151.0,0.159328,0.039910,0.056797,0.136906,0.155625,0.185014,0.291990
Yes,93.0,0.163196,0.085119,0.035638,0.106771,0.153846,0.195059,0.710345

In [32]:
result.unstack('smoker')

       smoker
count  No        151.000000
       Yes        93.000000
mean   No          0.159328
       Yes         0.163196
std    No          0.039910
       Yes         0.085119
min    No          0.056797
       Yes         0.035638
25%    No          0.136906
       Yes         0.106771
50%    No          0.155625
       Yes         0.153846
75%    No          0.185014
       Yes         0.195059
max    No          0.291990
       Yes         0.710345
dtype: float64

In [33]:
f = lambda x: x.describe() 
tips.groupby('smoker')['tip_pct'].apply(f)

smoker
No      count    151.000000
        mean       0.159328
        std        0.039910
        min        0.056797
        25%        0.136906
        50%        0.155625
        75%        0.185014
        max        0.291990
Yes     count     93.000000
        mean       0.163196
        std        0.085119
        min        0.035638
        25%        0.106771
        50%        0.153846
        75%        0.195059
        max        0.710345
Name: tip_pct, dtype: float64

# Suppressing the Group Keys

- McKinney, Wes. Python for Data Analysis (p. 460). O'Reilly Media. Kindle Edition.

In [34]:
tips.groupby('smoker').apply(top_n)

            total_bill   tip     sex smoker   day    time  size   tip_pct
smoker
No     88        24.71  5.85    Male     No  Thur   Lunch     2  0.236746
       185       20.69  5.00    Male     No   Sun  Dinner     5  0.241663
       51        10.29  2.60  Female     No   Sun  Dinner     2  0.252672
       149        7.51  2.00    Male     No  Thur   Lunch     2  0.266312
       232       11.61  3.39    Male     No   Sat  Dinner     2  0.291990
Yes    109       14.31  4.00  Female    Yes   Sat  Dinner     2  0.279525
       183       23.17  6.50    Male    Yes   Sun  Dinner     4  0.280535
       67         3.07  1.00  Female    Yes   Sat  Dinner     1  0.325733
       178        9.60  4.00  Female    Yes   Sun  Dinner     2  0.416667
       172        7.25  5.15    Male    Yes   Sun  Dinner     2  0.710345

In [35]:
tips.groupby('smoker', group_keys = False).apply(top_n) # removes group_keys

     total_bill   tip     sex smoker   day    time  size   tip_pct
88        24.71  5.85    Male     No  Thur   Lunch     2  0.236746
185       20.69  5.00    Male     No   Sun  Dinner     5  0.241663
51        10.29  2.60  Female     No   Sun  Dinner     2  0.252672
149        7.51  2.00    Male     No  Thur   Lunch     2  0.266312
232       11.61  3.39    Male     No   Sat  Dinner     2  0.291990
109       14.31  4.00  Female    Yes   Sat  Dinner     2  0.279525
183       23.17  6.50    Male    Yes   Sun  Dinner     4  0.280535
67         3.07  1.00  Female    Yes   Sat  Dinner     1  0.325733
178        9.60  4.00  Female    Yes   Sun  Dinner     2  0.416667
172        7.25  5.15    Male    Yes   Sun  Dinner     2  0.710345

# Quantile and Bucket Analysis

In [36]:
frame = pd.DataFrame({'data1': np.random.randn(1000), 'data2': np.random.randn(1000)})
frame.head(10)

      data1     data2
0 -0.735144  0.856957
1 -0.797286  0.456142
2  1.876727 -0.449250
3 -2.162413  1.072136
4  0.791574  0.216448
5  0.310822  0.767089
6 -0.229875 -0.672512
7  0.695002  0.841239
8  0.101098  0.024579
9 -0.005824  0.432984

In [37]:
quartiles=pd.cut(frame['data1'],4)
quartiles[:10]

0    (-1.461, 0.0636]
1    (-1.461, 0.0636]
2      (1.588, 3.112]
3    (-2.991, -1.461]
4     (0.0636, 1.588]
5     (0.0636, 1.588]
6    (-1.461, 0.0636]
7     (0.0636, 1.588]
8     (0.0636, 1.588]
9    (-1.461, 0.0636]
Name: data1, dtype: category
Categories (4, interval[float64]): [(-2.991, -1.461] < (-1.461, 0.0636] < (0.0636, 1.588] < (1.588, 3.112]]

In [38]:
def get_stats(grp):
    return {'min':grp.min(),'max':grp.max(),'countx':grp.count(),'meanx':grp.mean()}

In [39]:
grouped=frame.data2.groupby(quartiles) # spliting based on data1 quartiles , data2 column is splitted
print_grps(grouped)

(-2.991, -1.461] -->

3      1.072136
10    -0.000185
16     0.438263
78    -0.220983
87    -0.067616
         ...
946    0.683971
966   -0.125818
971   -1.172257
979   -1.359450
983    0.370622
Name: data2, Length: 71, dtype: float64
(-1.461, 0.0636] -->

0      0.856957
1      0.456142
6     -0.672512
9      0.432984
11     0.532256
         ...
992    0.923718
994    1.501883
996   -0.008821
997    0.343956
998   -1.376878
Name: data2, Length: 450, dtype: float64
(0.0636, 1.588] -->

4      0.216448
5      0.767089
7      0.841239
8      0.024579
18     1.563181
         ...
988    1.078920
989   -0.336028
990   -0.541540
995   -0.631791
999   -1.600081
Name: data2, Length: 418, dtype: float64
(1.588, 3.112] -->

2     -0.449250
23    -0.209680
30     0.601208
41    -1.970707
42     1.239907
         ...
888    2.196859
921    0.776372
955    0.054275
976   -0.390232
993    0.009873
Name: data2, Length: 61, dtype: float64

In [40]:
grouped.apply(get_stats).unstack()

                       min       max  countx     meanx
data1
(-2.991, -1.461] -1.563980  2.098978    71.0  0.179880
(-1.461, 0.0636] -3.101972  2.976497   450.0 -0.057491
(0.0636, 1.588]  -3.970881  3.342864   418.0 -0.067811
(1.588, 3.112]   -2.537277  2.850898    61.0  0.057425

# Return quantile numbers

In [44]:
grouping=pd.qcut(frame['data1'],10)
grouping

0                    (-0.87, -0.546]
1                    (-0.87, -0.546]
2                     (1.289, 3.112]
3      (-2.9859999999999998, -1.289]
4                     (0.475, 0.818]
                   ...
995                   (0.475, 0.818]
996                  (-0.87, -0.546]
997                 (-0.546, -0.253]
998                 (-0.546, -0.253]
999                   (0.217, 0.475]
Name: data1, Length: 1000, dtype: category
Categories (10, interval[float64]): [(-2.9859999999999998, -1.289] < (-1.289, -0.87] < (-0.87, -0.546] < (-0.546, -0.253] ... (0.217, 0.475] < (0.475, 0.818] < (0.818, 1.289] < (1.289, 3.112]]

In [45]:
# without labels
grouping=pd.qcut(frame['data1'],10,labels=False)
grouping

0      2
1      2
2      9
3      0
4      7
      ..
995    7
996    2
997    3
998    3
999    6
Name: data1, Length: 1000, dtype: int64

In [42]:
grouped=frame['data2'].groupby(grouping)
grouped.apply(get_stats).unstack()

            min       max  countx     meanx
data1
0     -1.563980  2.098978   100.0  0.111471
1     -3.101972  2.791704   100.0 -0.014194
2     -2.472636  1.974383   100.0 -0.105524
3     -3.078871  2.581646   100.0 -0.174392
4     -2.341764  2.976497   100.0  0.080365
5     -2.556477  3.342864   100.0 -0.117929
6     -2.248938  2.110378   100.0 -0.003834
7     -3.970881  2.689378   100.0  0.031021
8     -3.102885  2.054906   100.0 -0.125513
9     -2.574757  2.850898   100.0 -0.060885

# Filling Missing Values with Group-Specific Values

***

In [1]:
import pandas as pd
import numpy as np

In [48]:
s=pd.Series(np.random.randn(6))

In [49]:
s[::2]=np.nan

In [50]:
s

0         NaN
1   -0.462232
2         NaN
3    0.343429
4         NaN
5    2.134805
dtype: float64

In [51]:
s.fillna(s.mean())

0    0.672001
1   -0.462232
2    0.672001
3    0.343429
4    0.672001
5    2.134805
dtype: float64

In [52]:
(-0.462232+0.343429+2.134805)/3

0.6720006666666668

In [54]:
states = ['Ohio', 'New York', 'Vermont', 'Florida','Oregon', 'Nevada', 'California', 'Idaho']
group_key = ['East'] * 4 + ['West'] * 4
group_key

['East', 'East', 'East', 'East', 'West', 'West', 'West', 'West']

In [55]:
data = pd.Series( np.random.randn(8), index = states)
data

Ohio         -1.031656
New York     -1.261226
Vermont      -0.862897
Florida      -1.073027
Oregon       -0.506128
Nevada        0.408734
California   -0.078181
Idaho         0.552906
dtype: float64

In [56]:
data[['Vermont','Nevada','Idaho']] = np.nan

In [57]:
data

Ohio         -1.031656
New York     -1.261226
Vermont            NaN
Florida      -1.073027
Oregon       -0.506128
Nevada             NaN
California   -0.078181
Idaho              NaN
dtype: float64

In [60]:
data.groupby(group_key).mean()

East   -1.121969
West   -0.292154
dtype: float64

In [59]:
print_grps(data.groupby(group_key))

East -->

Ohio       -1.031656
New York   -1.261226
Vermont          NaN
Florida    -1.073027
dtype: float64
West -->

Oregon       -0.506128
Nevada             NaN
California   -0.078181
Idaho              NaN
dtype: float64

In [61]:
fill_mean=lambda g: g.fillna(g.mean())
fill_mean

In [62]:
data.groupby(group_key).apply(fill_mean) # sends each group and applies lambda func

Ohio         -1.031656
New York     -1.261226
Vermont      -1.121969
Florida      -1.073027
Oregon       -0.506128
Nevada       -0.292154
California   -0.078181
Idaho        -0.292154
dtype: float64

In [70]:
print_grp_each=lambda grp: grp.name+':'+str(grp.shape)

data.groupby(group_key).apply(print_grp_each)

East    East:(4,)
West    West:(4,)
dtype: object

In [67]:
fill_values={'East':0.5,'West':-1}
fill_func=lambda g:g.fillna(fill_values[g.name])
data.groupby(group_key).apply(fill_func)

Ohio         -1.031656
New York     -1.261226
Vermont       0.500000
Florida      -1.073027
Oregon       -0.506128
Nevada       -1.000000
California   -0.078181
Idaho        -1.000000
dtype: float64

# Random Sampling and Permutation

In [71]:
# Hearts, Spades, Clubs, Diamonds 
suits = ['H', 'S', 'C', 'D'] 
card_val = (list(range(1,11)) + [10] * 3) * 4 
base_names = ['A'] + list( range( 2, 11)) + ['J', 'K', 'Q'] 
cards = [] 
for suit in ['H', 'S', 'C', 'D']:
    cards.extend(str(num)+suit for num in base_names) 
deck = pd.Series(card_val, index = cards)

In [73]:
deck.shape

(52,)

In [74]:
deck.index

Index(['AH', '2H', '3H', '4H', '5H', '6H', '7H', '8H', '9H', '10H', 'JH', 'KH',
       'QH', 'AS', '2S', '3S', '4S', '5S', '6S', '7S', '8S', '9S', '10S', 'JS',
       'KS', 'QS', 'AC', '2C', '3C', '4C', '5C', '6C', '7C', '8C', '9C', '10C',
       'JC', 'KC', 'QC', 'AD', '2D', '3D', '4D', '5D', '6D', '7D', '8D', '9D',
       '10D', 'JD', 'KD', 'QD'],
      dtype='object')

In [75]:
deck.unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10], dtype=int64)

In [77]:
deck[:13]

AH      1
2H      2
3H      3
4H      4
5H      5
6H      6
7H      7
8H      8
9H      9
10H    10
JH     10
KH     10
QH     10
dtype: int64

In [78]:
def draw(deck,n=5):
    return deck.sample(n)

draw(deck)

JS    10
9C     9
AS     1
6D     6
7C     7
dtype: int64

In [79]:
get_suit=lambda card: card[-1] # last letter is suit
deck.groupby(get_suit).apply(draw,n=2)

C  5C      5
   9C      9
D  5D      5
   8D      8
H  AH      1
   10H    10
S  7S      7
   3S      3
dtype: int64

In [80]:
print_grp_each=lambda grp: grp.name+':'+str(grp.shape)

deck.groupby(get_suit).apply(print_grp_each)

C    C:(13,)
D    D:(13,)
H    H:(13,)
S    S:(13,)
dtype: object

# Group Weighted Average and Correlation
---

In [81]:
df = pd.DataFrame({'category': ['a', 'a', 'a', 'a', 'b', 'b', 'b', 'b'], 'data': np.random.randn(8),'weights': np.random.rand(8)})
df

  category      data   weights
0        a -0.798828  0.713578
1        a  0.841179  0.269933
2        a -1.666331  0.814047
3        a  0.728843  0.016234
4        b  2.690198  0.165801
5        b  0.591352  0.039587
6        b -1.438953  0.184259
7        b -0.361505  0.029794

In [82]:
grouped=df.groupby('category')

get_wavg=lambda g:np.average(g['data'],weights=g['weights'])
grouped.apply(get_wavg)

category
a   -0.930428
b    0.461418
dtype: float64

In [83]:
print_grps(grouped)

a -->

  category      data   weights
0        a -0.798828  0.713578
1        a  0.841179  0.269933
2        a -1.666331  0.814047
3        a  0.728843  0.016234
b -->

  category      data   weights
4        b  2.690198  0.165801
5        b  0.591352  0.039587
6        b -1.438953  0.184259
7        b -0.361505  0.029794

In [88]:
close_px=pd.read_csv("data_sets/stock_px_2.csv",parse_dates=True,index_col=0)
close_px.head()

            AAPL   MSFT    XOM     SPX
2003-01-02  7.40  21.11  29.22  909.03
2003-01-03  7.45  21.14  29.24  908.59
2003-01-06  7.45  21.52  29.96  929.01
2003-01-07  7.43  21.93  28.95  922.93
2003-01-08  7.28  21.31  28.83  909.93

In [89]:
close_px.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2214 entries, 2003-01-02 to 2011-10-14
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   AAPL    2214 non-null   float64
 1   MSFT    2214 non-null   float64
 2   XOM     2214 non-null   float64
 3   SPX     2214 non-null   float64
dtypes: float64(4)
memory usage: 86.5 KB

In [90]:
close_px[-4:]

              AAPL   MSFT    XOM      SPX
2011-10-11  400.29  27.00  76.27  1195.54
2011-10-12  402.19  26.96  77.16  1207.25
2011-10-13  408.43  27.18  76.37  1203.66
2011-10-14  422.00  27.27  78.11  1224.58

In [92]:
close_px

              AAPL   MSFT    XOM      SPX
2003-01-02    7.40  21.11  29.22   909.03
2003-01-03    7.45  21.14  29.24   908.59
2003-01-06    7.45  21.52  29.96   929.01
2003-01-07    7.43  21.93  28.95   922.93
2003-01-08    7.28  21.31  28.83   909.93
...            ...    ...    ...      ...
2011-10-10  388.81  26.94  76.28  1194.89
2011-10-11  400.29  27.00  76.27  1195.54
2011-10-12  402.19  26.96  77.16  1207.25
2011-10-13  408.43  27.18  76.37  1203.66
2011-10-14  422.00  27.27  78.11  1224.58

[2214 rows x 4 columns]

In [91]:
spx_corr = lambda x: x.corrwith(x['SPX'])
rets=close_px.pct_change().dropna()
rets

                AAPL      MSFT       XOM       SPX
2003-01-03  0.006757  0.001421  0.000684 -0.000484
2003-01-06  0.000000  0.017975  0.024624  0.022474
2003-01-07 -0.002685  0.019052 -0.033712 -0.006545
2003-01-08 -0.020188 -0.028272 -0.004145 -0.014086
2003-01-09  0.008242  0.029094  0.021159  0.019386
...              ...       ...       ...       ...
2011-10-10  0.051406  0.026286  0.036977  0.034125
2011-10-11  0.029526  0.002227 -0.000131  0.000544
2011-10-12  0.004747 -0.001481  0.011669  0.009795
2011-10-13  0.015515  0.008160 -0.010238 -0.002974
2011-10-14  0.033225  0.003311  0.022784  0.017380

[2213 rows x 4 columns]

In [93]:
get_year = lambda x: x.year
by_year = rets.groupby(get_year) 
by_year.apply(spx_corr)

          AAPL      MSFT       XOM  SPX
2003  0.541124  0.745174  0.661265  1.0
2004  0.374283  0.588531  0.557742  1.0
2005  0.467540  0.562374  0.631010  1.0
2006  0.428267  0.406126  0.518514  1.0
2007  0.508118  0.658770  0.786264  1.0
2008  0.681434  0.804626  0.828303  1.0
2009  0.707103  0.654902  0.797921  1.0
2010  0.710105  0.730118  0.839057  1.0
2011  0.691931  0.800996  0.859975  1.0

In [94]:
by_year.apply(lambda g: g['AAPL'].corr(g['MSFT']))

2003    0.480868
2004    0.259024
2005    0.300093
2006    0.161735
2007    0.417738
2008    0.611901
2009    0.432738
2010    0.571946
2011    0.581987
dtype: float64

In [95]:
close_px['AAPL'].corr(close_px['MSFT'])

0.5344802371958612

# Group-Wise Linear Regression

---

In [97]:
# ordinary least squares (OLS)

import statsmodels.api as sm 

def regress(data,yvar,xvars):
    Y = data[yvar] 
    X = data[xvars] 
    X['intercept'] = 1. 
    result = sm.OLS(Y,X).fit() 
    return result.params

In [98]:
by_year.apply(regress, 'AAPL', ['SPX'])

           SPX  intercept
2003  1.195406   0.000710
2004  1.363463   0.004201
2005  1.766415   0.003246
2006  1.645496   0.000080
2007  1.198761   0.003438
2008  0.968016  -0.001110
2009  0.879103   0.002954
2010  1.052608   0.001261
2011  0.806605   0.001514

# Pivot Tables and Cross-Tabulation

In [3]:
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [4]:
tips.pivot_table(index =['day','smoker'])

                 size       tip  total_bill
day  smoker
Fri  No      2.250000  2.812500   18.420000
     Yes     2.066667  2.714000   16.813333
Sat  No      2.555556  3.102889   19.661778
     Yes     2.476190  2.875476   21.276667
Sun  No      2.929825  3.167895   20.506667
     Yes     2.578947  3.516842   24.120000
Thur No      2.488889  2.673778   17.113111
     Yes     2.352941  3.030000   19.190588

In [7]:
grpby_tips=tips.groupby(['day','smoker'])

In [8]:
def print_grps(grp_obj):
    for key,grp in grp_obj:
        print(key,'-->\n')
        print(grp)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000012EDC3B9AC8>

In [10]:
# print_grps(grpby_tips)

In [15]:
tips.pivot_table(['tip_pct', 'size'], index =['time', 'day'],columns ='smoker')

                 size             tip_pct
smoker             No       Yes        No       Yes
time   day
Dinner Fri   2.000000  2.222222  0.139622  0.165347
       Sat   2.555556  2.476190  0.158048  0.147906
       Sun   2.929825  2.578947  0.160113  0.187250
       Thur  2.000000       NaN  0.159744       NaN
Lunch  Fri   3.000000  1.833333  0.187735  0.188937
       Thur  2.500000  2.352941  0.160311  0.163863

In [16]:
tips.pivot_table(['tip_pct', 'size'], index =['time', 'day'],columns ='smoker',margins=True)

                 size                       tip_pct
smoker             No       Yes       All        No       Yes       All
time   day
Dinner Fri   2.000000  2.222222  2.166667  0.139622  0.165347  0.158916
       Sat   2.555556  2.476190  2.517241  0.158048  0.147906  0.153152
       Sun   2.929825  2.578947  2.842105  0.160113  0.187250  0.166897
       Thur  2.000000       NaN  2.000000  0.159744       NaN  0.159744
Lunch  Fri   3.000000  1.833333  2.000000  0.187735  0.188937  0.188765
       Thur  2.500000  2.352941  2.459016  0.160311  0.163863  0.161301
All          2.668874  2.408602  2.569672  0.159328  0.163196  0.160803

In [17]:
tips.pivot_table('tip_pct', index =['time', 'smoker'], columns ='day', aggfunc=len, margins = True)

# McKinney, Wes. Python for Data Analysis (p. 474). O'Reilly Media. Kindle Edition.

day             Fri   Sat   Sun  Thur    All
time   smoker
Dinner No       3.0  45.0  57.0   1.0  106.0
       Yes      9.0  42.0  19.0   NaN   70.0
Lunch  No       1.0   NaN   NaN  44.0   45.0
       Yes      6.0   NaN   NaN  17.0   23.0
All            19.0  87.0  76.0  62.0  244.0

In [18]:
tips.pivot_table('tip_pct', index =['time', 'size', 'smoker'], columns ='day', aggfunc ='mean', fill_value = 0)

day                      Fri       Sat       Sun      Thur
time   size smoker
Dinner 1    No      0.000000  0.137931  0.000000  0.000000
            Yes     0.000000  0.325733  0.000000  0.000000
       2    No      0.139622  0.162705  0.168859  0.159744
            Yes     0.171297  0.148668  0.207893  0.000000
       3    No      0.000000  0.154661  0.152663  0.000000
            Yes     0.000000  0.144995  0.152660  0.000000
       4    No      0.000000  0.150096  0.148143  0.000000
            Yes     0.117750  0.124515  0.193370  0.000000
       5    No      0.000000  0.000000  0.206928  0.000000
            Yes     0.000000  0.106572  0.065660  0.000000
       6    No      0.000000  0.000000  0.103799  0.000000
Lunch  1    No      0.000000  0.000000  0.000000  0.181728
            Yes     0.223776  0.000000  0.000000  0.000000
       2    No      0.000000  0.000000  0.000000  0.166005
            Yes     0.181969  0.000000  0.000000  0.158843
       3    No      0.187735  0.000000  0.000000  0.084246
            Yes     0.000000  0.000000  0.000000  0.204952
       4    No      0.000000  0.000000  0.000000  0.138919
            Yes     0.000000  0.000000  0.000000  0.155410
       5    No      0.000000  0.000000  0.000000  0.121389
       6    No      0.000000  0.000000  0.000000  0.173706

Sample Nationality Handedness   
0 1 USA Right-handed   
1 2 Japan Left-handed   
2 3 USA Right-handed    
3 4 Japan Right-handed   
4 5 Japan Left-handed   
5 6 Japan Right-handed   
6 7 USA Right-handed   
7 8 USA Left-handed   
8 9 Japan Right-handed   
9 10 USA Right-handed

In [20]:
sample=[i for i in range(1,11)]
Nationality=['USA','Japan','USA','Japan','Japan','Japan','USA','USA','Japan','USA']
Handedness=['Right-handed','Left-handed','Right-handed','Right-handed','Left-handed','Right-handed','Right-handed','Left-handed','Right-handed','Right-handed',]

In [21]:
data=pd.DataFrame({'sample':sample,'Nationality':Nationality,'Handedness':Handedness})

In [22]:
data

   sample Nationality    Handedness
0       1         USA  Right-handed
1       2       Japan   Left-handed
2       3         USA  Right-handed
3       4       Japan  Right-handed
4       5       Japan   Left-handed
5       6       Japan  Right-handed
6       7         USA  Right-handed
7       8         USA   Left-handed
8       9       Japan  Right-handed
9      10         USA  Right-handed

In [24]:
pd.crosstab(data.Nationality,data.Handedness,margins=True)

Handedness   Left-handed  Right-handed  All
Nationality
Japan                  2             3    5
USA                    1             4    5
All                    3             7   10

In [28]:
data.pivot_table('sample', index =['Nationality'], columns ='Handedness', aggfunc =len,margins=True)

Handedness   Left-handed  Right-handed  All
Nationality
Japan                  2             3    5
USA                    1             4    5
All                    3             7   10

In [30]:
pd.crosstab([tips.time,tips.day],tips.smoker, margins=True)

smoker        No  Yes  All
time   day
Dinner Fri     3    9   12
       Sat    45   42   87
       Sun    57   19   76
       Thur    1    0    1
Lunch  Fri     1    6    7
       Thur   44   17   61
All          151   93  244